@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    margin: 0 auto;
    color: #000000;
    font-face: 'Lato', sans-serif;
    font-size: 12pt;
}

#cabecera {
    background-color: #85D4B7;
    width: 100%;
    padding: 2em 1em;
}

.item-cabecera {
    width: 50px;
    color: #FFFFFF;
}

.logo {
    text-align: left;
}

.nav {
    text-align: center;
}

#carrusel-container {
    background-color: #6DCCAA;
    width: 100%;
}

#subtitulo {
    /* parte de contacto, redes sociales y frase */
}

footer {
    background-color: #E6E6E6;
    position: absolute;
    width: 100%;
    color: #FFFFFF;
    bottom: 0px;
    text-align: left;
    padding: 2em 1em;
}